.vscode
composer.phar
__pycache__
login_response.json
test.json
webuntis-api-docs.md
2018-09-20-WebUntis_JSON_RPC_API.pdf
timetable.json
timetable2.json
timetable.json.old
login_config.py
*.json
links.md
sql_passwd
test.html