* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px;
}
.grid-line {
    display: flex;
    flex-wrap: wrap;
}
.topnav {
    margin-bottom: 10px;
}

.topnav select {
    margin-right: 8px;
    padding: 4px;
}

.vertical-layout {
    display: inline-grid;
    grid-template-columns: auto auto;
}

#timetable {
    position: relative;
}

.grid-cols {
    width: 120px;
    text-align: center;
    display: block;
}

.grid-lesson {
    width: 120px;
    border: 1px solid #000000;
}

.grid-lesson-number {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 120px;
    height: 90px;
    text-align: center;
    padding-right: 4px;
    border: 1px solid #000000;
}
.small-break {
    display: block;
    width: 100%;
    height: 9px;
}
.large-break {
    display: block;
    width: 100%;
    height: 27px;
}

.lesson_time {
    display: block;
    text-align: right;
    font-size: small;
}

.lesson_num {
    font-size: x-large;
    text-align: center;
}

.lesson-normal {
    background-color: #ff9900;
    display: block;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    font: inherit;
    padding: 2px;
    width: 120px;
    z-index: 9999;
    border-radius: 10px;
    border: 1px solid #000000;
}

.lesson-normal:hover {
    background-color: #ffaa33;
}

.lesson-changed {
    background-color: #642cff;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.lesson-removed {
    background-color: #c9c9c9;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.lesson-hidden {
    display: none;
}

.teacher-name {
    font-size: small;
}

.subject {
    font-size: large;
    font-weight: bold;
}

.room {
    font-size: small;
}
